@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links > li{
    position: relative;
}
.nav-links > li::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    background-color: #D4AF37;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}
.nav-links > li:hover::after{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.slide{
    display: flex;
}
.slide-hidden{
    display: none;
}